* {
    border: none;
    font-size: 26px;
    color: #ffffff;
    border-radius: 10px;
}

window {
	font-weight: normal;
}
window#waybar {
    background: rgba(0, 0, 0, 0);
}
/*-----module groups----*/
.modules-left {
  margin: 0px 0 0 0px;
  font-family: Grape Nuts;
  font-weight: bolder;
	background-color: rgba(0,119,179,0.6);
}
.modules-center {
  font-family: Nimbus Sans Narrow;
	background-color: rgba(0,43,51,0.85);
  margin: 0px 0 0 0;
}
.modules-right {
	background-color: rgba(0,43,51,0.85);
  font-family: Nimbus Sans Narrow;
  font-weight: normal;
  font-size: 1rem;
  margin: 0px 0px 0 0;
}
/*-----modules indv----*/
#workspaces button label{
  font-weight: bolder;
}
#workspaces button.focused{
  font-size: 27px;
  color: purple;
}

#workspaces button {
    padding: 1px 1px;
    background-color: transparent;
}
#workspaces button:hover {
  box-shadow: inherit;
	background-color: rgba(0,153,153,1);
}

#workspaces button.focused {
	background-color: rgba(0,43,51,0.85);
}

#clock {
  font-family: Terminus;
  font-weight: bold;
}
tooltip{
  font-family: Roboto;
}

#tray{
  background-color: black;
}

#temperature{
  padding: 8 0 0 0px;
}


#backlight,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 0 0 3px;
}
#mode {
    color: #cc5436;
    font-weight: bold;
    font-family: Liberation Sans Serif;
}
#custom-power {
    background-color: rgba(0,119,179,0.6);
    border-radius: 100px;
    margin: 5px 5px;
    padding: 1px 1px 1px 6px;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
    color: #2dcc36;
}
#pulseaudio.muted {
    color: #cc3436;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #ff3311;
    color: #ff5511;
}
/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 *
 */
